# This workflow will install Python dependencies, run tests and lint with a
# variety of Python versions. For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Documentation Check

on: [push, pull_request]

jobs:
  build:

    runs-on: ["ubuntu-latest"]
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]

    name: Documentation tests
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: pip install .[doc]

    - name: Check documentation build
      run: sphinx-build -E -b html docs dist/docs

    - name: Check documentation links
      run: sphinx-build -b linkcheck docs dist/docs
